<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Yale Glee Club Alumni Website</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
		<link rel="stylesheet" href="{% static 'alumni/new.min.css' %}">
	</head>
    <body style="background-color:#2185D0;">
            <div class="ui top fixed menu">
                <div class="item left">
                    YGC Alumni Website
                </div>
                <div class="item right">
                    Register
                </div>
                <div class="item right">
                    Login
                </div>
            </div>
            {% block content %}

            {% endblock %}
    </body>

    <script src="{% static "alumni/jquery-3.1.1.js" %}"></script>
    <script src="{% static "alumni/new.js" %}"></script>
</html>